/* Global Styling */

body{
  margin: 0 !important;
}

/* Navigation Links Styling */
.nav-link {
  font-family: 'Lato', sans-serif !important;
  font-weight: bold !important;
}

/* Navbar Styling */
.navbar {
  transition: all 0.6s;
}

/* Navbar when Scrolled */
.navbar-scrolled {
  background-color: #ffffff;
  box-shadow: 0.3px 10px #ffffff;
}

/* Logo 2 Styling (Initially Hidden) */
.logo2 {
  display: none;
}

/* Background Styling */
.bg {
  background-image: url(../img/bgcarousel.png) !important;
  background-color: #414f6b;
}

/* Carousel Indicators Styling */
.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}

/* Accordion Button Styling */
.accordion-button {
  background-color: #414f6b !important;
  color: #ffffff !important;
  font-family: 'Oswald', sans-serif !important;
  font-size: 2em !important;
  text-transform: uppercase;
}

/* Triangle Icon before Accordion Button Text */
.accordion-button::before {
  content: '\25B8';
  /* Unicode character for a right-pointing triangle (▸) */
  color: #ffffff;
  float: right;
  margin-left: 10px;
  transition: transform 0.6s;
}

/* Triangle Icon when Accordion Button is Collapsed */
.accordion-button.collapsed::before {
  content: '\25BE';
  /* Unicode character for a down-pointing triangle (▾) */
  transform: rotate(360deg);
}

.wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
}

.full-width {
  display: flex;
  justify-content: space-around;
  padding: 0 5px;
}

.half-width {
  margin: 0 10px;
  padding: 0;
}

.mountain-nav {
  background-color: #414f6b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.mountain1,
.mountain2 {
  margin: 0 20px;
  padding: 0 20px;
}

.mountain1 a,
.mountain2 a {
  text-decoration: none;
  color: #b0b4be;
}

.mountain1-content,
.mountain2-content {
  display: none;
}

.mountain1.active a,
.mountain2.active a {
  color: white;
  text-decoration: underline;
}

.mountain1-content,
.mountain2-content {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 100px 100px 0px;
}

.mountain1-content{
  background-image: url(../img/mountain1.png);
}

.mountain2-content{
  background-image: url(../img/mountain2.png);
}

.schedule {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

.table-container {
  max-width: 600px; 
  margin: auto; 
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th, 
.table td {
  border: none;
  padding: 8px 16px;
}

footer {
  background-color: #414f6b;
}

.full-length {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  color: #63769d;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.half-length {
  margin: 5px;
  padding: 5px;
}
